{% extends 'base.html.twig' %}

{% block title %}Checkout KemShop{% endblock %}

{% block body %}
    {{ include('partials/title_section.html.twig', {'name': 'Checkout'}) }}

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="heading_s1">
                        <h4>Please, verify your delivery address</h4>
                        <div class="content" id="address">
                            {{ address|replace({'[br]': '<br/>'})|raw }}
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <a href="{{ path('address_edit', {'id': address.id}) }}" class="btn btn-sm btn-fill-out mt-1">Edit address</a>
                            </div>
                            <div class="col-md">
                                <a href="{{ path('checkout') }}" class="btn btn-sm btn-fill-out mt-1">Change address</a>
                            </div>
                        </div>
                    </div>
                    <div class="heading_s1">
                        <h4>Please, verify your carrier</h4>
                        <div class="content" id="carrier">
                            {{ carrier|replace({'[br]': '<br/>'})|raw }}
                        </div>
                        <a href="{{ path('checkout') }}" class="btn btn-sm btn-fill-out mt-1">Change carrier</a>
                    </div>
                    {% if informations %}
                        <div class="heading_s1">
                            <h4>Please, verify your additional information</h4>
                            <div class="form-group mb-0" id="informations">
                                {{ informations }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="order_review">
                        <div class="heading_s1">
                            <h4>Your Orders</h4>
                        </div>
                        <div class="table-responsive order_table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in cart.products %}
                                        <tr>
                                            <td> {{ product.product.name }} <span class="product-qty">x {{ product.quantity }}</span></td>
                                            <td>{{ (product.product.price / 100)|number_format(2, ',', '.') }}€</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>SubTotal (HT)</th>
                                        <td class="product-subtotal">{{ cart.data.subtotal }}€</td>
                                    </tr>
                                    <tr>
                                        <th>Taxe</th>
                                        <td class="product-subtotal">{{ cart.data.taxe }}€</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping ({{ carrier.name }})</th>
                                        <td class="product-subtotal">{{ (carrier.price / 100)|number_format(2, ',', '.') }}€</td>
                                    </tr>
                                    <tr>
                                        <th>Total (TTC)</th>
                                        <td class="product-subtotal">{{ (cart.data.subtotal + cart.data.taxe + (carrier.price / 100))|number_format(2, ',', '.') }}€</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment_method">
                            <div class="heading_s1">
                                <h4>Payment</h4>
                            </div>
                            <button type="submit" id="checkout-button" class="btn btn-fill-out btn-block">Pay | {{ cart.data.subtotal + cart.data.taxe + carrier.price }}€</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
